<h1>Mayita proyecto</h1>
<ul>
  <li>
 <%= link_to('carros', cars_path)%>
  </li>
  <li>
  chequeo moto
  </li>
  <li>página de inicio</li>
   <li>informaccon mayita</li>
  <li>contacto con mayita</li>
  <li>pandemia</li>
</ul>